*.aux
**/*.aux
*.bbl
**/*.bbl
*.fls
**/*.fls
*.log
**/*.log
*.out
**/*.out
*.lof
**/*.lof
*.synctex(busy)
**/*.synctex(busy)
*.toc
**/*.toc
main-blx.bib
*.lot  
**/*.lot
*.gz
**/*.gz
*.fdb_latexmk
**/*.fdb_latexmk
*.pdf
**/*.pdf
*.blg
**/*.blg